rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Cada documento contém a cópia sincronizada de uma única conta.
    match /users/{userId} {
      allow read, create, update, delete: if request.auth != null
          && request.auth.uid == userId;
    }
  }
}
